<h2>Pizza</h2>
<% @products.each do |product| %>
<div class="row">
  <div class="col-md-4">
  	<%= product.title %>
   	</br>
   	<%= product.description %>
	</br>
   	<%= product.price %>
   	</br>
   	<%= product.size %>
   	</br>
   	<%= product.is_spicy %>
   	</br>
   	<%= product.is_veg %>
   	</br>
   	<%= product.is_best_offer %>
   	</br>
   	<%= product.path_to_image %>
  </div>
<% end %>